<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Welcome Page </title>
        <object th:include="fragments/head :: head" th:remove="tag"/>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/header :: sidebar"/>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container-fluid" style="margin-top: 70px">
                    <div class="row">
                        <h2>Users </h2>
                        <div class="col-lg-12 col-lg-offset-2">
                            <div class="row">
                                <div class="flex-container col-lg-8">
                                <table class="table table-hover table-bordered container col-med-12">
                                    <thead>
                                        <tr class="flex-item">
                                            <th>User Name</th>
                                            <th>User Enabled</th>
                                            <th>Password</th>
                                            <th>Authorities</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="flex-item" th:each="users : ${existingUser}">
                                            <td th:text="${users.name}"></td>
                                            <td th:text="${users.userEnabled}"></td>
                                            <td th:text="${users.password}"></td>
                                            <td th:text="${users.authorityList}"></td>
                                            <td>
                                                <a class="btn btn-default" th:href="@{/editUser(id=${users.id})}"><i class="fa fa-cog"></i>&nbsp; Edit</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" th:href="@{/deleteUser(id=${users.id})}"><i class="fa fa-trash-o fa-lg"></i>&nbsp; Delete</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/header :: footer"/>
        </div>
    </body>
</html>