<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Edit Organisation </title>
        <object th:include="fragments/head :: head" th:remove="tag"/>
    </head>
    <body>
        <div id="wrapper">
            <div th:replace="fragments/header :: sidebar"/>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container" style="margin-top: 70px">
                    <div class="row">
                        <h2>Edit Organisation</h2>
                        <div class="col-lg-12 col-lg-offset-2">
                            <div class="row">
                                <div class="col-lg-8">
                                    <form th:action="@{/editOrg}" th:object="${organisationForm}"
                                          method="post">
                                        <div class="form-group">
                                            <input type="hidden" th:field="*{id}"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="orgName">Organisation :</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       th:field="*{orgName}"
                                                       placeholder="Organisation Name"/>
                                            </div>
                                            <div class="form-group">
                                                <p th:if="${#fields.hasErrors('orgName')}"
                                                   th:errors="*{orgName}">Wrong Site Name</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Description :</label>
                                            </div>
                                            <div class="form-group">
                                                            <textarea class="form-control" rows="4" cols="50"
                                                                      th:field="*{description}"
                                                                      placeholder="Description"/>
                                            </div>
                                            <div class="form-group" style="text-align: center">
                                                <input class="btn btn-default" type="submit" value="Submit"/>
                                            </div>
                                        </div>

                                        <table class="table table-hover table-bordered container col-med-12">
                                            <thead>
                                                <tr>
                                                    <th>Site Name</th>
                                                    <th>IP Address</th>
                                                    <th>Is Enabled</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="site : ${sites}">
                                                    <td th:text="${site.siteName}"></td>
                                                    <td th:text="${site.ipAddress}"></td>
                                                    <td th:text="${site.enabled}"></td>
                                                    <td>
                                                        <a class="btn btn-default "
                                                           th:href="@{/editsite(id=${site.id})}">Edit</a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger"
                                                           th:href="@{/deleteSite(id=${site.id})}"><i
                                                                class="fa fa-trash-o fa-lg"></i> Delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/header :: footer"/>
        </div>
    </body>
</html>